
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>MVC PROJE KAMPI</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Recognize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Themes/Home/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/Themes/Home/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="~/Themes/Home/css/roadmap.css" rel="stylesheet" type="text/css" />
    <!-- Banner-Slider-CSS -->
    <link rel="stylesheet" href="~/Themes/Home/css/snow.css">
    <link rel="stylesheet" href="~/Themes/Home/css/aos.css">
    <link href='~/Themes/Home/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="~/Themes/Home/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Themes/Home/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <header class="index-banner" id="home">
        <!-- nav -->
        <nav class="main-header d-flex">
            <div id="brand">
                <div id="logo">
                    <a href="#home">
                        <i class="fas fa-crosshairs"></i>
                    </a>
                </div>
                <div id="word-mark">
                    <h1>
                        <a href="~/Home/HomePage">Genesis Blog</a>
                    </h1>
                </div>
            </div>
            <div id="menu">
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="text-center nav-honey">
                    <li>
                        <a href="#home" class="active ">Anasayfa</a>
                    </li>
                    <li>
                        <a class="scroll" href="#about">Yeteneklerim</a>
                    </li>
                    <li>
                        <a class="scroll" href="#services">Proje Hakkında</a>
                    </li>
                    <li>
                        <a class="scroll" href="#projects">Görseller</a>
                    </li>
                    <li>
                        <a class="scroll" href="#contact">İletisim</a>
                    </li>
                    <li class="login">
                        <a type="button" href="~/Account/Login" style="background-color:deepskyblue" class="btn login-btn text-uppercase">
                            Admin Girişi
                        </a>
                    </li>
                    <li class="login">
                        <a type="button" href="~/Account/WriterLogin"  style="background-color:deepskyblue" class="btn login-btn text-uppercase">
                            Yazar Girişi
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
        <!-- //nav -->
        <!-- banner -->
        <div class="banner_section">
            <div class="snow-container">
                <div class="snow foreground"></div>
                <div class="snow foreground layered"></div>
                <div class="snow middleground"></div>
                <div class="snow middleground layered"></div>
                <div class="snow background"></div>
                <div class="snow background layered"></div>
            </div>
            <div class="banner-info text-uppercase">
                <h6 data-aos="fade-right">Eren Akgöz</h6>
                <h5 data-aos="fade-right">Merhaba, Projeme Hoş Geldiniz</h5>
                <h3 data-text="MVc Proje Kampı">MVc Proje Kampı</h3>
                <div class="ban-buttons mt-3" data-aos="fade-right">
                    <a class="btn work scroll" href="#projects">Galeri</a>
                    <a class="btn work scroll active" href="#contact">İletisim</a>
                </div>

            </div>
        </div>
        <!-- //banner -->
    </header>
    <!-- //header -->
    <!--// banner-slider -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-4">
                <div class="info-about text-center">
                    <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Yeteneklerimden Sadece Birkaç Tanesi</h3>
                    <div class="row mt-lg-5 mt-3">
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">C#</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Asp.Net Core Mvc</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Ms Sql Server</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Html-Css</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 60%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Angular</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">
                                    Wordpress
                                </h4>
                                <div class="progress">

                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// ab -->
    <!-- /services -->
    <section class="services py-md-5 py-4" id="services">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Bu Projede Neler Yaptım</h3>
                <div class="price-right">
                    <div class="tabs">

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-code mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Profesyonel Kod</h5>
                                                    <p class="card-text">Başta Engin DEMİROĞ ve Murat YÜCADAĞ hocalarımın eğitiminden öğrendiğim bilgilerle elimden geldikçe Clean Cod kurallarına ve Solid prensiplerine uymaya çalıştım. Projemde Katmanlı Mimarı,AutoFac gibi birçok yapı kullandım </p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-lightbulb mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Projenin Bana Kattıkları</h5>
                                                    <p class="card-text">Bu projeyi .Net Core'a göre uyarladığım için kendi araştırmalarım sonucunda .Net Core'a ait yeni yeni özellikler keşfettim</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-clone mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Kullanılan Teknolojiler</h5>
                                                    <p class="card-text">
                                                        <ul class="card-text" style="color:white">
                                                            <li>.Net Core</li>
                                                            <li>EntityFrameworkCore</li>
                                                            <li>Katmanlı Mimari</li>
                                                            <li>Autofac</li>
                                                            <li>Fluent Validation</li>
                                                            <li>Identity</li>
                                                            <li>Sql Server</li>
                                                        </ul>
                                                    </p>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- //experience -->
    <!--gallery  -->
    <section class="gallery py-md-5 py-3" id="projects">
        <div class="gallery-inner container py-md-5 pb-3">
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Proje Görselleri</h3>
            <div class="row">

                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Admin Giriş Ekranı" href="~/Themes/Home/images/g1.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g1.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Yazar Giriş Ekranı" href="~/Themes/Home/images/g2.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g2.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Admin Güncelleme Ekranı" href="~/Themes/Home/images/g3.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g3.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Başlık Ekranı." href="~/Themes/Home/images/g4.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g4.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Mesajlaşma Ekranı." href="~/Themes/Home/images/g5.png">
                            <div class="section_1_gallery_grid1">
                                <img src="images/g5.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Yetenek Kartı Ekranı" href="~/Themes/Home/images/g6.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g6.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Başlığa ait içerik ekranı" href="~/Themes/Home/images/g7.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g7.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Entry Giriş Ekranı." href="~/Themes/Home/images/g8.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Themes/Home/images/g8.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Resmi Büyüt</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <!--end portfolio-area -->
            </div>
            <!-- //gallery container -->
        </div>
    </section>
    <!-- //gallery -->
    <!--/stats-->
    <section class="stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row mt-lg-5 stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="far fa-lightbulb"></i>
                    <p class="counter">@ViewBag.headingCount</p>
                    <h4>Toplam Başlık Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">

                    <i class="far fa-heart"></i>
                    <p class="counter">@ViewBag.contentCount</p>
                    <h4>Toplam Yazı Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="fas fa-magic"></i>
                    <p class="counter">@ViewBag.categoryCount</p>
                    <h4>Toplam Kategori Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2">

                    <i class="far fa-smile"></i>
                    <p class="counter">@ViewBag.writerCount</p>
                    <h4>Toplam Yazar Sayısı</h4>

                </div>
            </div>
        </div>
    </section>
    <!--//stats-->
    <!-- /testimonials -->
    <div class="testimonials py-lg-5 py-4" id="clients">
        <div class="testimonials-inner container py-lg-4 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Projeye Dair</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Kısa Notlar</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonials_grid center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>
                                    Bu projeyi .NET Core'u proje geliştirerek öğrenmek için yaptım. Projeyi yaparken Solid prensiplerine,Katmanlı mimariye,temiz kod yazmaya azami dikkat gösterdim. Tabi daha çaylak olduğum için ufak tefek hatalarım mevcut.
                                    Projemde AutoFac,FluenValidation,Katmanlı Mimari,Html-Css-Javascript,Clean Code,Solid prensipleri gibi özellikler kullandım
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- /Contact-->
    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">İletisim</h3>
                <div class="contact_grid_right">
                    @using (Html.BeginForm("Add", "Contact", FormMethod.Post))
                    {
                        <form method="post">
                            <div class="row contact_left_grid">
                                <div class="col-md-6 con-left" data-aos="fade-up">
                                    <div class="form-group">
                                        <label style="color:aliceblue">Adınız</label>
                                        <input class="form-control" type="text" name="Name" placeholder="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label style="color:aliceblue">Email Adresiniz</label>
                                        <input class="form-control" type="email" name="Email" placeholder="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label style="color:aliceblue">Konu</label>
                                        <input class="form-control" type="text" name="Subject" placeholder="" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 con-right" data-aos="fade-up">
                                    <div class="form-group">
                                        <label style="color:aliceblue">Mesajınız</label>
                                        <textarea id="textarea" placeholder="" name="Message" required=""></textarea>
                                    </div>
                                </div>
                                <div class="sub-honey mx-auto mt-3">
                                    <button class="form-control" type="submit">Gönder</button>

                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>

    <script src="~/Themes/Home/js/jquery-2.2.3.min.js"></script>
    <!-- banner-type-text -->
    <script src='~/Themes/Home/js/aos.js'></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!-- sticky nav bar-->
    <script>
        $(() => {

            //On Scroll Functionality
            $(window).scroll(() => {
                var windowTop = $(window).scrollTop();
                windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
                windowTop > 100 ? $('ul.nav-honey').css('top', '50px') : $('ul.nav-honey').css('top', '160px');
            });

            //Click Logo To Scroll To Top
            $('#logo').on('click', () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
            });

            //            //Smooth Scrolling Using Navigation Menu
            //            $('a[href*="#"]').on('click', function(e) {
            //                $('html,body').animate({
            //                    scrollTop: $($(this).attr('href')).offset().top - 100
            //                }, 500);
            //                e.preventDefault();
            //            });

            //Toggle Menu
            $('#menu-toggle').on('click', () => {
                $('#menu-toggle').toggleClass('closeMenu');
                $('ul').toggleClass('showMenu');

                $('li').on('click', () => {
                    $('ul').removeClass('showMenu');
                    $('#menu-toggle').removeClass('closeMenu');
                });
            });

        });

    </script>
    <!-- //sticky nav bar -->
    <!-- Include jQuery Timeline Plugin -->
    <script src="~/Themes/Home/js/jquery.roadmap.js"></script>

    <script>
        $(document).ready(function () {

            var events = [{
                date: 'Oct 2018 - Present',
                content: 'Company Name <small>Co-founder, Front-end Designer</small>'
            },
            {
                date: '2016 - 2018',
                content: 'Company Name <small>Senior Visual Designer</small>'
            },
            {
                date: '2013 - 2016',
                content: 'Company Name <small>Mid-level Designer</small>'
            },
            {
                date: '2012 - 2013',
                content: 'Company Name <small>Mid-level Designer</small>'
            },
            {
                date: '2012 - 2013',
                content: 'Company Name <small>Freelance</small>'
            },
            {
                date: '2011 - 2012',
                content: 'San Diego university  <small>For Design</small>'
            },
            {
                date: '2010 - 2011',
                content: 'New York university  <small>For Graphic Design</small>'
            },

            {
                date: '2009 - 2010',
                content: 'New York university  <small>For Graphic Design</small>'
            },

            {
                date: '2008 - 2009',
                content: 'New York university  <small>For Graphic Design</small>'
            },
            {
                date: '2005 - 2008',
                content: 'Lorem Ipsum  <small>Add Description</small>'
            },
            {
                date: '2003 - 2005',
                content: 'Lorem IPsum  <small>Add Description</small>'
            },
            {
                date: '2001 - 2003',
                content: 'Lorem IPsum  <small>Add Description</small>'
            }
            ];

            $('#my-timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="fas fa-chevron-left"></i>',
                nextArrow: '<i class="fas fa-chevron-right"></i>'
            });
        });

    </script>
    <!-- simpleLightbox -->
    <script src="~/Themes/Home/js/simpleLightbox.js"></script>
    <script>
        $('.proj_gallery_grid a').simpleLightbox();

    </script>
    <!-- //simpleLightbox -->
    <!-- stats -->
    <script src="~/Themes/Home/js/jquery.waypoints.min.js"></script>
    <script src="~/Themes/Home/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!-- //stats -->
    <!--/ start-smoth-scrolling -->
    <script src="~/Themes/Home/js/move-top.js"></script>
    <script src="~/Themes/Home/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->
    <!-- //js -->

    <script src="~/Themes/Home/js/bootstrap.js"></script>

</body>

</html>
