@using Entity.Concrate
@model List<Category>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<style>
    table {
        margin: auto;
    }
    i{
        margin-right:5px;
    }
</style>
<!DOCTYPE html>
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<br />
<table class="table table-bordered table-hover">
    <thead class="table">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <th>@item.Id</th>
    <td>@item.Name</td>
    <td><a href="~/Category/Delete/@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>   Sil</a> <a href="~/Category/EditCategory/@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-pen-alt"></i>Güncelle</a> <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-feather"></i>Başlıklar</a></td>

</tr>
}
    </tbody>

</table>
<a href="~/Category/Add" class="btn btn-primary">Kategori Ekle</a>
@ViewBag.data
<span asp-validation-for="Email"></span>