
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yetenek Ekleme</title>
</head>
<body>
    <center><h2>Yetenek Ekleme</h2></center>
    <br />
    @using (Html.BeginForm("SkilssAdd", "Skilss", FormMethod.Post))
    {
        
        <form class="form-group">
            <label>Yetenek Adı</label>
            <input type="text" class="form-control" name="Skilss" />
            <br />
            <label>Yetenek Değeri</label>
            <input type="number" class="form-control" name="Value" />
            <br />
            <button class="btn btn-success">Yetenek Ekle</button>
        </form>
    }
</body>
</html>
