@model Entity.Concrate.Heading
@{
    ViewData["Title"] = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<style>
    label {
        margin-top: 10px;
    }
</style>
<br />
<center><h3>Başlık Ekleme Ekranı</h3></center>
@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{
    <form>
        <label>Başlık İsmi</label>
        @Html.TextBoxFor(heading => heading.Name, new { @class = "form-control" })
        <label class="text-danger">@Html.ValidationMessageFor(error => error.Name)</label>
        
        <label>Kategori Adı</label>
        @Html.DropDownListFor(heading => heading.CategoryId, (List<SelectListItem>)ViewBag.categoryValue, new { @class = "form-control" })
        <label class="text-danger">@Html.ValidationMessageFor(error => error.CategoryId)</label>
        <button style="margin-top:10px" class="btn btn-success">Başlık Ekle</button>
    </form>
}

